#contact h2 {
  margin-top: 35px;
  text-align: center;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #0066ff, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.contact_info {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.contact_info > div {
  margin: 19px;
  /* text-align: center; */
  font-weight: 500;
  font-size: 30px;
  /* height: 400px; */
  width: 47%;
  /* max-width: 100%; */
  background: #ffffff;
  box-shadow: 0 12px 24px rgba(7, 74, 99, 0.12),
    0 8px 16px rgba(7, 74, 99, 0.08), 0 4px 8px rgba(7, 74, 99, 0.05);

  border-radius: 8px;
  padding: 20px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px;
  font-size: 30px;
  padding: 10px;
  /* background-color: #0066ff; */
  border-radius: 8px;
  /* 
  background: #e6e6df;
  box-shadow: 0 12px 24px rgba(7, 74, 99, 0.12),
    0 8px 16px rgba(7, 74, 99, 0.08), 0 4px 8px rgba(7, 74, 99, 0.05); */
}
.devices_contact {
  display: flex;
  flex-direction: column;

  /* gap: 20px; */
}

.devices_contact a {
  text-decoration: none;
  color: #000;
  overflow-wrap: anywhere;

  /* background: #e9e4e4;
  box-shadow: 0 12px 24px rgba(7, 74, 99, 0.12),
    0 8px 16px rgba(7, 74, 99, 0.08), 0 4px 8px rgba(7, 74, 99, 0.05); */

  border-radius: 8px;
  padding: 10px 10px;
}
svg {
  height: 50px;
  width: 50px;
  min-width: 50px;

  fill: #ffffff;
  background: linear-gradient(90deg, #0066ff, #00d4ff);
  box-shadow: 0 12px 24px rgba(7, 74, 99, 0.12),
    0 8px 16px rgba(7, 74, 99, 0.08), 0 4px 8px rgba(7, 74, 99, 0.05);

  border-radius: 50%;
  padding: 5px;
}
.office_contact iframe {
  width: 100%;
  height: 300px;

  border: none;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .contact_info {
    flex-direction: column;
    align-items: center;
  }

  .contact_info div {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
  }

  .devices_contact a {
    font-size: 20px;
  }

  .office_contact p {
    font-size: 20px;
  }

  svg {
    height: 30px;
    width: 30px;
    min-width: 30px;
  }
}
